# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
ENV/

# VS Code
.vscode/

# Flask
instance/
*.db
*.sqlite3
database/*.db

# Static uploads
static/uploads/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Test coverage
htmlcov/
.coverage

# Build
build/
dist/
*.egg-info/

# Misc
*.bak
*.swp
